.slide-item {
  position: relative;
  height: 45rem;
  background: #000;
  color: #fff;

  @media screen and (max-device-width: 640px) {
    height: 100%;
  }
}
.overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.video-full {
  width: 100%;
}
