$body-bg: #ffffff;
$body-color: #0e1211;
$white: #ffffff;

$theme-colors: (
  "light": #def7f9,
  "dark": #0e1211,
  "primary": #4e81c1,
  "secondary": #3c3c93,
  "info": #70696a,
  "success": #2d9a5d,
  "warning": rgba(233, 230, 218),
  "danger": #ec1e19,
);
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
