.carousel-container {
  padding: 0rem 20rem;
  margin-bottom: 10rem;
  @media screen and (max-device-width: 640px) {
    margin-bottom: 6rem;
  }
  @media (min-width: 280px) and (max-width: 480px) {
    padding: 0rem 0rem;
  }
}

.video-container {
  background-color: #393E46;
  color: #fff;
  padding: 1.5rem .8rem;
  @media (min-width: 280px) and (max-width: 480px) {
   gap: 10px;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.headerContainer {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2rem 0rem;
  text-align: center;
}
.about {
  p {
    font-size: 1.5rem;
  }
}

.section {
  margin-bottom: 2rem;
}

.review {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.inputBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border: 1px solid #e7d176;
  outline: 0;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding-right: 2em;
  width: 50%;
}

.imageGallary {
  display: flex;
  flex-wrap: wrap;
}
.imageWrapper {
  overflow: hidden;
  width: 33.333%;
}
.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

