.carousel-wrapper {
  position: relative;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-device-width: 640px) {
    div {
      font-size: 1rem !important;
    }
  }
}
.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.description {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
